# Unityが自動生成するフォルダやファイル（管理不要）
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Mm]emoryCaptures/

# ビルドファイル（生成されるだけ）
*.apk
*.aab
*.unitypackage

# エディタ系
.vscode/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.booproj

# OSファイル
.DS_Store
Thumbs.db

# Crashレポートなど
*.log
sysinfo.txt
.vs/practice 0730~/FileContentIndex/08a9f269-fa65-4f28-93c6-f43821d75306.vsidx
.vs/practice 0730~/FileContentIndex/0ac0b827-edfe-410f-93df-36c0fe81b239.vsidx
.vs/practice 0730~/FileContentIndex/ba999ee4-fcd4-424d-98e5-b1217935fee0.vsidx
.vs/practice 0730~/FileContentIndex/d7c2ff6f-b5d1-470d-837a-442fc14ca7f4.vsidx
.vs/practice 0730~/FileContentIndex/e7e1e164-ca7c-405e-b499-6fd71db17b74.vsidx
